$primaryColor: orangered;
$hoverPrimaryColor: rgb(255, 69, 1);

@mixin flexcontent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgRepairServices {
  background: linear-gradient(45deg, #00000062, #00000054),
    url(../images/MService4Midsize.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 55vh;
  @include flexcontent();
  h1 {
    color: #fff;
    font-size: 2.5em;
    border-bottom: 1px solid #fff;
  }
}

@media screen and (max-width: 681px) {
  .bgRepairServices {
    h1 {
      font-size: 1.7em;
    }
  }
}

/* Services */

.servicesSection {
  margin: 50px 0px;
  background-color: #fff;
  .filterContainer {
    .filterButtons {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      border: 0;
      padding: 0;
      margin-top: 35px;
      .filter-btn {
        box-shadow: 0px 0px 2px 1px #00000054;
        text-transform: uppercase;
        background: transparent;
        border: 0;
        border-radius: 0.25rem;
        padding: 0.25rem 1rem;
        cursor: pointer;
        &:hover,
        &:focus {
          background-color: rgb(227, 193, 180);
        }
        &.active {
          background: $primaryColor;
          color: white;
          box-shadow: 0 0 0.5rem rgb(0 0 0 / 0.2);
        }
      }
    }
  }
}

.messageUsForDiffService {
  text-align: center;
  padding: 5px 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  @include flexcontent();
  flex-direction: column;
  gap: 10px;
  a {
    background-color: $primaryColor;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px 3px #00000054;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    &:hover {
      background-color: $hoverPrimaryColor;
      box-shadow: 1px 1px 3px 1px #00000054;
      transform: scale(1.1);
    }
  }
}
